[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask = "*"
gunicorn = "*"
psycopg = "*"
mysqlclient = "*"
pyodbc = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
semver = "*"

[requires]
python_version = "3.12"
