[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
click = "*"
configparser = "*"
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
pymongo = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-pymongo = "*"
flask-iniconfig = "*"
celery = "*"

[dev-packages]
csp-report-collector = {file = ".", editable = true}
black = "*"
flake8 = "*"
isort = "*"
pytest = "*"

[requires]
python_version = "3.11"
