[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
mysqlclient = "*"
pyodbc = "*"

[dev-packages]
csp-report-collector = {file = ".", editable = true}
black = "*"
flake8 = "*"
isort = "*"
mongomock = "*"
pytest = "*"
pytest-cov = "*"
pytest-dotenv = "*"
semver = "*"

[requires]
python_version = "3.10"
