[tool.black]
line-length = 256
#skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 256
float_to_top = "true"

[tool.pytest.ini_options]
pythonpath = "src"
minversion = "8.0"
addopts = "-vv --import-mode=append"
filterwarnings = [
    #"ignore:'pipes' is deprecated:DeprecationWarning",
    "ignore:pkg_resources is deprecated:DeprecationWarning",
]
testpaths = [
    "tests"
]
