<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" />
        <title>csp reports</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
    <div class="head">
        <header>
            <h1>CSP Reports</h1>
        </header>
    </div>
    <div class="mainbody">
        <div class="pager"><ul><li><a {% if reports.has_prev -%} href="/reports?p={{ reports.prev_num }}"{% endif %}>previous</a></li><li><a {% if reports.has_next -%} href="/reports?p={{reports.next_num }}"{% endif %}>next</a></li></ul></div>
        <table class="reports">
        <tr>
            <th>Domain</th><th>Document URI</th><th>Blocked URI</th><th>Effective Directive</th><th>Disposition</th><th>Reported Time</th>
        </tr>
        {% for report in reports.items %}
        <tr class="row-{{ loop.index % 2 }}">
            <td>{{ report.domain }}</td><td>{{ report.document_uri }}</td><td>{{ report.blocked_uri }}</td><td>{{ report.effective_directive }}</td><td>{{ report.disposition }}</td><td>{{ report.reported_at }}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    </body>
</html>