.head {
    width: 100%;
    margin: 0px 0px 0px 10px;
    padding: 10px;
    border-bottom: 2px solid #000;
}

.head h1 {
    font-family: sans-serif;
}

.mainbody {
    margin: 1em auto;
    width: 80%;
}

table.reports {
    border: 1px solid #777;
    width: 100%;
}

tr.row-0 {
    background-color: #9f9f9f;
}

tr.row-1 {
    background-color: #b9c4db;
}

.pager {
    text-align: right;
}

.pager ul {
    list-style: none
}

.pager li {
    display: inline-block;
    margin:0px 1em;
}