html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.head {
    margin: 0;
    padding: 1em;
    border-bottom: 2px solid #000;
}

.mainbody {
    margin: 1em auto;
    width: 80%;
}

table.reports {
    border: 1px solid #777;
    width: 100%;
}

tr.row-0 {
    background-color: #9f9f9f;
}

tr.row-1 {
    background-color: #b9c4db;
}

td {
    padding: .25em;
}

td a {
    color: #000075;
    text-decoration: none;
}

td a:hover {
    color: #5555a0;
    text-decoration: underline;
}

.navbar {
    text-align: right;
    width: 100%;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline-block;
    margin:0;
    padding:0;
}

.navbar li.list-separator:before {
    content: "|";
    padding: 0 1em;
}

#crumbs {
    font-size: .8em;
    font-family: sans-serif
}

.report {
    margin:0;
    padding:0;
    width: 100%;
}

.report .row {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0em;
    border-bottom: 1px solid #777;
}

.header, .data {
    display: inline-block;
    margin: 0;
    padding: 0 0 .5em 0;
}

.report .header {
    font-weight: bold;
    min-width: 150px;
    font-size: 1rem;
    margin: 0;
    padding: .5em 0 .25em 0;
    width: 20%;
}

.report .data {
    min-width: 250px;
    font-size: 1rem;
    width: 80%;
}

.report .data pre {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    white-space: nowrap;
}